services:
  monitor: &monitor
    networks:
      - uptime-kuma
    image: louislam/uptime-kuma:2.0.2-slim
    container_name: uptime-kuma_monitor
    restart: unless-stopped
    expose:
      - 3001
    volumes:
      - ./app-data:/app/data
    profiles:
      - prod
      - monitor

  monitor-dev:
    <<: *monitor
    ports:
      - 3001:3001
    profiles:
      - dev

  stats:
    networks:
      - uptime-kuma
    build:
      context: .
      dockerfile: Dockerfile
      target: stats
    image: uptime-kuma_stats
    container_name: uptime-kuma_stats
    env_file: .env
    restart: unless-stopped
    expose:
      - 3000
    profiles:
      - prod
      - stats
    volumes:
      - /var/lib/docker/containers:/docker-containers-volume:ro

networks:
  uptime-kuma:
    external: true
